<h1>Firebase App</h1>
<div class="container">

  <form #ed="ngForm">
    <div class="Form-group">
      <label>Name</label>
      <input name="Name" ngModel class="form-control">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input name="Address" ngModel class="form-control">
    </div>

    <div class="form-group">
      <label>Pic</label>
      <input name="PicPath" type="file" ngModel class="form-control" ngModel (change)="onfileSelect($event)">
      <input name="Url" style="display: none" [ngModel]=downloadURL|async />
    </div>

    <div class="form-group">
      <label>Contact</label>
      <input name="Contact" ngModel class="form-control">
    </div>
    <input type="reset" value="Send" class="btn btn-dark" (click)="addemp(ed)">
  </form>
</div>

<br>
<div class="container">
  <table class="table table-default table-dark ">
    <thead>
      <tr>
        <th>SNO</th>
        <th>Emplyoyee Pic</th>
        <th>Employee Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of allemp;index as i">
        <td>{{i+1}}</td>
        <td><img [src]='k.Url' style="height: 100px; width: 100px" class="img-thumbnail"></td>
        <td>{{k.Name}}</td>
        <td>{{k.Address}}</td>
        <td>{{k.Contact}}</td>
        <td>
          <input type="button" (click)="updateemployee(k)" value="Edit" data-target="#updatemodal" data-toggle="modal">
          <input type="button" (click)="deleteemployee(k.id)" value="Delete">
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #ed="ngForm">

        <div class="modal-body">
          <div class="form-group">
            <input name="id" ngModel={{id}} style="display: none">
          </div>
          <div class="Form-group">
            <label>Name</label>
            <input name="Name" ngModel={{name}} class="form-control">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input name="Address" ngModel={{add}} class="form-control">
          </div>
          <div class="form-group">
            <label>Contact</label>
            <input name="Contact" ngModel={{con}} class="form-control">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" data-dismiss="modal" (click)="FinalUpdate(ed)" class="btn btn-primary">Update &
            Save</button>
        </div>
      </form>

    </div>
  </div>
</div>




<router-outlet></router-outlet>
